

{% block content %}

<style>
    /* Estilização geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.content {
    margin-left: 270px; /* Ajuste o valor conforme necessário para o espaçamento */
    padding: 20px;
}

h2 {
    color: #555;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Container de ofertas */
.ofertas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

/* Estilo do cartão da oferta */
.oferta-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    width: 100%;
}

.oferta-card:hover {
    transform: scale(1.05);
}

/* Imagem do cartão (formato quadrado) */
.oferta-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Conteúdo do cartão */
.oferta-card-content {
    padding: 15px;
    text-align: center;
}

.oferta-card-content h3 {
    margin: 10px 0;
    color: #333;
    font-size: 1.1rem;
}

.oferta-card-content p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

/* Texto com preço */
.creditos-disponiveis {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Botão Resgatado */
.btn-resgatar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d; /* Cinza */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: not-allowed;
    text-align: center;
}

.btn-resgatar:hover {
    background-color: #5a6268; /* Hover com cinza escuro */
}

/* Caso o botão esteja desabilitado */
.btn-resgatar:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Mensagem quando não houver ofertas */
.empty-message {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
}
</style>

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .main-container {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        width: 250px;
        background-color: #ffffff;
        overflow-y: auto;
        padding: 20px 0;
        border-right: 1px solid #d3d3d3;
        height: 100vh;
    }

    .sidebar img.logo {
        display: block;
        margin: 0 auto 20px;
        margin-left: 5px;
        max-width: 150px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar .nav-item {
        margin-bottom: 10px;
    }

    .sidebar .nav-link {
        display: inline-block;
        align-items: center;
        padding: 10px 20px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 12px;
    }

    .sidebar .nav-link div {
        display: flex;
        align-items: center;
    }

    .sidebar .nav-link svg {
        margin-right: 10px;
    }

    .sidebar ul .nav-item img {
        transition: filter 0.3s; /* Adiciona uma transição suave para o ícone */
    }
    
    .sidebar ul .nav-item:hover img {
        filter: brightness(0) saturate(100%) invert(50%) sepia(70%) saturate(600%) hue-rotate(85deg) brightness(90%) contrast(85%);
        /* Torna o ícone verde ao passar o mouse */
    }
    
    .sidebar ul .nav-item:hover .nav-link {
        color: #28a745; /* Torna o texto verde ao passar o mouse */
    }

    #map {
        flex-grow: 1;
        height: 100%;
    }

    .main-container {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        width: 250px;
        background-color: #ffffff;
        overflow-y: auto;
        padding: 20px 0;
        border-right: 1px solid #ddd;
        transition: all 0.3s ease;
    }

    .sidebar.hidden .toggle-sidebar-btn {
        right: -40px;
    }

    .sidebar.hidden {
        width: 50px; /* Reduced width when hidden */
    }

    .sidebar-toggle {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    
    .sidebar img.logo {
        display: block;
        margin: 0 auto 20px;
        margin-left: 17px;
        max-width: 150px;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        transition: opacity 0.3s ease;

    }
    
    .sidebar .nav-item {
        margin-bottom: 10px;
    }
    
    .sidebar .nav-link {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }

    .sidebar .nav-link:hover {
        background-color: #e0f2e9;
        color: #28a745;
    }
    
    
    .sidebar .nav-link div {
        display: flex;
        align-items: center;
    }

    #map {
        flex-grow: 1;
        height: 100%;
    }

    .navbar-custom {
        display: none;
    }

    .toggle-sidebar-btn {
        position: absolute;
        top: 10px;
        right: -40px; /* Fica na borda da barra */
        padding: 10px;
        border: none; /* Removed border */
        cursor: pointer;
        transition: right 0.3s ease;
    }

    .sidebar {
        position: relative;
        transform: none;
    }
    
</style>
<div class="main-container">
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-content">
            <img src="/media/logo-transparent.png" height="50px" alt="Recyfe Logo" class="logo">
            <ul>
                <!-- Menu de navegação -->
                <li class="nav-item" id="all_posts">
                    <a href="{% url 'index' %}" class="nav-link">
                        <div>
                            <img src="/media/home.png" alt="Home Icon" width="20px" />
                            &nbsp;&nbsp;Home
                        </div>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item" id="profile">
                        <a href="{% url 'profile' user.username %}" class="nav-link">
                            <div>
                                <img src="/media/perfil.png" alt="People Icon" width="20px" />
                                &nbsp;&nbsp;Perfil
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" id="Signup">
                        <a href="{% url 'produto:lista' %}" class="nav-link">
                            <div>
                                <img src="/media/carrinho_icon.png" alt="People Icon" width="20px" />
                                &nbsp;&nbsp;Ecommerce
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" id="Signup">
                        <a href="{% url 'mapa' %}" class="nav-link">
                            <div>
                                <img src="/media/bussola.png" alt="People Icon" width="20px" />
                                &nbsp;&nbsp;Mapa
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" id="logout">
                        <a href="{% url 'rewards' %}" class="nav-link">
                            <div>
                                <div>
                                    <img src="/media/troca.png" alt="People Icon" width="24px" />
                                    &nbsp;&nbsp;Rewards
                                </div>

                            </div>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item" id="login">
                        <a href="{% url 'login' %}" class="nav-link">
                            <div>
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-door-closed" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2zm1 0v13h8V2H4z"/>
                                    <path d="M7 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    <path fill-rule="evenodd" d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                &nbsp;&nbsp;Log In
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" id="Signup">
                        <a href="{% url 'register' %}" class="nav-link">
                            <div>
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                </svg>
                                &nbsp;&nbsp;Sign Up
                            </div>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- Main Content -->
    <div class="content">
        <h2 class="text-center">Ofertas Resgatadas</h2>
    <hr>

    {% if resgates %}
    <div class="ofertas-container">
        {% for resgate in resgates %}
            <div class="oferta-card">
                <div class="creditos-disponiveis">
                    Custo: {{ resgate.oferta.valor_em_creditos }} Crédito(s)
                </div>
                <img src="{{ resgate.oferta.imagem.url }}" alt="{{ resgate.oferta.nome }}">
                <div class="oferta-card-content">
                    <h3>{{ resgate.oferta.nome }}</h3>
                    <p>{{ resgate.oferta.descricao }}</p>
                    <p class="text-muted">Resgatado em: {{ resgate.data_resgate|date:"d/m/Y H:i" }}</p>
                    <button class="btn-resgatar" disabled>Resgatado</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">Você ainda não resgatou nenhuma oferta.</p>
{% endif %}
</div>

{% endblock %}